In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir('.'))

['[SF-DST] Movies IMBD v3.0.ipynb', '.ipynb_checkpoints', 'data.csv']

In [3]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [4]:
len(data)

1890

# Предобработка датасета

In [5]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [6]:
data[data.budget == data.budget.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

In [7]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [8]:
data[data.runtime == data.runtime.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

In [9]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [11]:
data[data.runtime == data.runtime.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

In [12]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [13]:
data.runtime.mean()

109.65343915343915

In [14]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [15]:
data.runtime.median()

106.5

In [16]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [19]:
data['profit'] = data.revenue - data.budget
data[data.profit == data.profit.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

In [18]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [20]:
data[data.profit == data.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

In [21]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [22]:
data[data.profit > 0].count()

imdb_id                 1478
popularity              1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_count              1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [23]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

# ЭтО УжАсНо!
# НеПрАвИлЬнО ДеЛаТь РаЗнЫе ЗаДаНиЯ в ТеСтЕ и В NoTeBoOkE! 

## Ориентируюсь на задачи в тесте

In [24]:
data_2008 = data.query('release_year==2008')
data_2008[data_2008.revenue == data_2008.revenue.max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

In [25]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [26]:
data.query('release_year>=2012 & release_year<=2014').query('profit == profit.min()')

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

In [27]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [30]:
from collections import Counter

c = Counter()

for i in data.genres:
    for g in i.split('|'):
        c[g] += 1
        
c.most_common()

[('Drama', 782),
 ('Comedy', 683),
 ('Thriller', 597),
 ('Action', 583),
 ('Adventure', 416),
 ('Crime', 315),
 ('Romance', 308),
 ('Family', 260),
 ('Science Fiction', 248),
 ('Fantasy', 223),
 ('Horror', 176),
 ('Mystery', 168),
 ('Animation', 139),
 ('Music', 64),
 ('History', 62),
 ('War', 58),
 ('Western', 20),
 ('Documentary', 8),
 ('Foreign', 2)]

In [31]:
answer_ls[10] = 3

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [32]:
data_mt_0 = data[data.profit > 0]
c = Counter()

for i in data_mt_0.genres:
    for g in i.split('|'):
        c[g] += 1
        
c.most_common()

[('Drama', 560),
 ('Comedy', 551),
 ('Thriller', 446),
 ('Action', 444),
 ('Adventure', 337),
 ('Romance', 242),
 ('Crime', 231),
 ('Family', 226),
 ('Science Fiction', 195),
 ('Fantasy', 188),
 ('Horror', 150),
 ('Animation', 120),
 ('Mystery', 119),
 ('Music', 47),
 ('History', 46),
 ('War', 41),
 ('Western', 12),
 ('Documentary', 7)]

In [33]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [ ]:
c = Counter()
for n in data.director:
    for d in n.split('|'):
        c[d] += 1
        
c.most_common()

In [34]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [35]:
data_d_mt_0 = data.query('profit > 0')
c = Counter()

for n in data_d_mt_0.director:
    for d in n.split('|'):
        c[d] += 1
        
c.most_common()

[('Ridley Scott', 12),
 ('Steven Spielberg', 10),
 ('Clint Eastwood', 10),
 ('Steven Soderbergh', 10),
 ('Shawn Levy', 9),
 ('Tim Burton', 9),
 ('Antoine Fuqua', 8),
 ('Christopher Nolan', 8),
 ('Peter Jackson', 8),
 ('Michael Bay', 8),
 ('Brett Ratner', 8),
 ('Peter Farrelly', 8),
 ('Robert Rodriguez', 8),
 ('M. Night Shyamalan', 7),
 ('Bobby Farrelly', 7),
 ('Todd Phillips', 7),
 ('Adam Shankman', 7),
 ('Quentin Tarantino', 6),
 ('Francis Lawrence', 6),
 ('Adam McKay', 6),
 ('Robert Zemeckis', 6),
 ('Andy Fickman', 6),
 ('David Fincher', 6),
 ('Tim Story', 6),
 ('Zack Snyder', 6),
 ('Ron Howard', 6),
 ('Sam Raimi', 6),
 ('Joel Coen', 6),
 ('Louis Leterrier', 6),
 ('Dennis Dugan', 6),
 ('Paul W.S. Anderson', 6),
 ('Gore Verbinski', 6),
 ('Peter Segal', 6),
 ('Raja Gosnell', 6),
 ('J.J. Abrams', 5),
 ('Sam Mendes', 5),
 ('Jaume Collet-Serra', 5),
 ('F. Gary Gray', 5),
 ('Guy Ritchie', 5),
 ('Nancy Meyers', 5),
 ('Guillermo del Toro', 5),
 ('Bryan Singer', 5),
 ('Doug Liman', 5),
 ('Jon Favreau', 5),
 ('Carlos Saldanha', 5),
 ('Lasse HallstrÃ¶m', 5),
 ('Roland Emmerich', 5),
 ('Robert Luketic', 5),
 ('Steve Carr', 5),
 ('Tony Scott', 5),
 ('Martin Scorsese', 5),
 ('Danny Boyle', 5),
 ('Jon Turteltaub', 5),
 ('James Mangold', 5),
 ('Oliver Stone', 5),
 ('John Singleton', 5),
 ('Marc Forster', 5),
 ('Peter Berg', 5),
 ('Alejandro GonzÃ¡lez IÃ±Ã¡rritu', 4),
 ('Lana Wachowski', 4),
 ('Lilly Wachowski', 4),
 ('Chris Columbus', 4),
 ('Olivier Megaton', 4),
 ('Peyton Reed', 4),
 ('Brad Bird', 4),
 ('Matthew Vaughn', 4),
 ('Rob Letterman', 4),
 ('Tarsem Singh', 4),
 ('Judd Apatow', 4),
 ('John Erick Dowdle', 4),
 ('Boaz Yakin', 4),
 ('Anne Fletcher', 4),
 ('Ken Kwapis', 4),
 ('Wes Anderson', 4),
 ('Phil Lord', 4),
 ('Christopher Miller', 4),
 ('Luke Greenfield', 4),
 ('Eric Darnell', 4),
 ('Rob Marshall', 4),
 ('David Dobkin', 4),
 ('Nicholas Stoller', 4),
 ('Nick Cassavetes', 4),
 ('Rob Minkoff', 4),
 ('George Clooney', 4),
 ('David Yates', 4),
 ('David R. Ellis', 4),
 ('Ethan Coen', 4),
 ('David Twohy', 4),
 ('Jason Reitman', 4),
 ('Justin Lin', 4),
 ('Donald Petrie', 4),
 ('Tom McGrath', 4),
 ('Edward Zwick', 4),
 ('Andy Tennant', 4),
 ('Garry Marshall', 4),
 ('Jason Friedberg', 4),
 ('Aaron Seltzer', 4),
 ('Kevin Smith', 4),
 ('Jay Roach', 4),
 ('Andrew Adamson', 4),
 ('Simon West', 4),
 ('Keenen Ivory Wayans', 4),
 ('John Moore', 4),
 ('Rob Cohen', 4),
 ('D.J. Caruso', 4),
 ('Mark Waters', 4),
 ('Malcolm D. Lee', 4),
 ('Martin Campbell', 4),
 ('Mikael HÃ¥fstrÃ¶m', 4),
 ('Alexander Payne', 4),
 ('Len Wiseman', 4),
 ('Paul Greengrass', 4),
 ('George Miller', 3),
 ('Robert Schwentke', 3),
 ('James Wan', 3),
 ('Pierre Coffin', 3),
 ('Pete Docter', 3),
 ('Brad Peyton', 3),
 ('Neill Blomkamp', 3),
 ('Baltasar KormÃ¡kur', 3),
 ('Tom Hooper', 3),
 ('Paul Feig', 3),
 ('Gavin Hood', 3),
 ('Brian Helgeland', 3),
 ('Steve Martino', 3),
 ('Jonathan Levine', 3),
 ('David Ayer', 3),
 ('Neil Burger', 3),
 ('Jonathan Liebesman', 3),
 ('Matt Reeves', 3),
 ('Marc Webb', 3),
 ('Dean DeBlois', 3),
 ('Darren Aronofsky', 3),
 ('Frank Coraci', 3),
 ('Will Gluck', 3),
 ('Steve Pink', 3),
 ('Thomas Carter', 3),
 ('Randall Wallace', 3),
 ('McG', 3),
 ('John Lee Hancock', 3),
 ('Ruben Fleischer', 3),
 ('Chris Weitz', 3),
 ('Stephen Sommers', 3),
 ('Mark Neveldine', 3),
 ('Brian Taylor', 3),
 ('Conrad Vernon', 3),
 ('Michael Mann', 3),
 ('Kevin Macdonald', 3),
 ('James McTeigue', 3),
 ('NimrÃ³d Antal', 3),
 ('Tom Tykwer', 3),
 ('Rob Zombie', 3),
 ('Peter Chelsom', 3),
 ('Greg Mottola', 3),
 ('Jonathan Mostow', 3),
 ('Thor Freudenthal', 3),
 ('Marc Lawrence', 3),
 ('Chris Renaud', 3),
 ('Sylvester Stallone', 3),
 ('Chris Sanders', 3),
 ('Lee Unkrich', 3),
 ('Paul Weitz', 3),
 ('Mike Mitchell', 3),
 ('Joe Carnahan', 3),
 ('Ben Affleck', 3),
 ('Jon M. Chu', 3),
 ('Harald Zwart', 3),
 ('Roman Polanski', 3),
 ('Paul Haggis', 3),
 ('Alexandre Aja', 3),
 ('Tyler Perry', 3),
 ('Ben Stiller', 3),
 ('Dominic Sena', 3),
 ('Gary Fleder', 3),
 ('Brian Robbins', 3),
 ('Andrzej Bartkowiak', 3),
 ('Jesse Dylan', 3),
 ('Tim Hill', 3),
 ('Joe Johnston', 3),
 ('Andrew Stanton', 3),
 ('David Frankel', 3),
 ('Seth Gordon', 3),
 ('Woody Allen', 3),
 ('Bill Condon', 3),
 ('Wes Craven', 3),
 ('Stephen Daldry', 3),
 ('Joe Wright', 3),
 ('Kelly Asbury', 3),
 ('David Cronenberg', 3),
 ('Chris Wedge', 3),
 ('Barry Sonnenfeld', 3),
 ('Steven Brill', 3),
 ('Joel Schumacher', 3),
 ('Jeff Tremaine', 3),
 ('Ang Lee', 3),
 ('Stephen Frears', 3),
 ('Wolfgang Petersen', 3),
 ('Alan Taylor', 2),
 ('Kyle Balda', 2),
 ('Joss Whedon', 2),
 ('Kenneth Branagh', 2),
 ('Christopher McQuarrie', 2),
 ('Seth MacFarlane', 2),
 ('Wes Ball', 2),
 ('Elizabeth Banks', 2),
 ('Breck Eisner', 2),
 ('Tim Johnson', 2),
 ('Todd Haynes', 2),
 ('John Wells', 2),
 ('Denis Villeneuve', 2),
 ('Josh Trank', 2),
 ('Glenn Ficarra', 2),
 ('John Requa', 2),
 ('George Tillman, Jr.', 2),
 ('Genndy Tartakovsky', 2),
 ('Jessie Nelson', 2),
 ('Gil Kenan', 2),
 ('Sean Anders', 2),
 ('Mark Osborne', 2),
 ('Scott Cooper', 2),
 ('Simon Curtis', 2),
 ('Jason Moore', 2),
 ('Camille Delamarre', 2),
 ('Jonathan Demme', 2),
 ('Mike Binder', 2),
 ('James Gunn', 2),
 ('Joe Russo', 2),
 ('Anthony Russo', 2),
 ('Chris Williams', 2),
 ('Luc Besson', 2),
 ('Jake Kasdan', 2),
 ('Simon J. Smith', 2),
 ('Noam Murro', 2),
 ('Phillip Noyce', 2),
 ('Scott Waugh', 2),
 ('Anthony Stacchi', 2),
 ('Steven Quale', 2),
 ('Shana Feste', 2),
 ('Miguel Arteta', 2),
 ('Craig Gillespie', 2),
 ('Charles Martin Smith', 2),
 ('James Bobin', 2),
 ('Rupert Wyatt', 2),
 ('James Cameron', 2),
 ('Burr Steers', 2),
 ('Alex Proyas', 2),
 ('Duncan Jones', 2),
 ('P.J. Hogan', 2),
 ('Jim Sheridan', 2),
 ('Nora Ephron', 2),
 ('Betty Thomas', 2),
 ('Gary Winick', 2),
 ('Lee Daniels', 2),
 ('David S. Goyer', 2),
 ('John Hamburg', 2),
 ('Paul McGuigan', 2),
 ('Kevin Greutert', 2),
 ('Harold Ramis', 2),
 ('Patrick Lussier', 2),
 ('Walt Becker', 2),
 ('Lone Scherfig', 2),
 ('Marcus Nispel', 2),
 ('Joseph Kosinski', 2),
 ('Byron Howard', 2),
 ('Michael Apted', 2),
 ('Mike Newell', 2),
 ('Albert Hughes', 2),
 ('Allen Hughes', 2),
 ('David Slade', 2),
 ('Scott Stewart', 2),
 ('Michael Patrick King', 2),
 ('John Luessenhop', 2),
 ('Roger Michell', 2),
 ('Michael Lembeck', 2),
 ('John Madden', 2),
 ('Brian Levant', 2),
 ('Neil LaBute', 2),
 ('Tom Dey', 2),
 ('Eric Brevig', 2),
 ('Roger Kumble', 2),
 ('David Silverman', 2),
 ('Vicky Jenson', 2),
 ('Baz Luhrmann', 2),
 ('John A. Davis', 2),
 ('Cameron Crowe', 2),
 ('Victor Salva', 2),
 ('Lee Tamahori', 2),
 ('Iain Softley', 2),
 ('Ivan Reitman', 2),
 ('Frank Oz', 2),
 ('John Stockwell', 2),
 ('Catherine Hardwicke', 2),
 ('Phyllida Lloyd', 2),
 ('Timur Bekmambetov', 2),
 ('Kathryn Bigelow', 2),
 ('Scott Derrickson', 2),
 ('Gabriele Muccino', 2),
 ('David Gordon Green', 2),
 ('Mathieu Kassovitz', 2),
 ('Martin McDonagh', 2),
 ('Jon Hurwitz', 2),
 ('Hayden Schlossberg', 2),
 ('Jimmy Hayward', 2),
 ('Gus Van Sant', 2),
 ('Gina Prince-Bythewood', 2),
 ('Kirk De Micco', 2),
 ('Andrew Niccol', 2),
 ('John Lasseter', 2),
 ('Brad Furman', 2),
 ('Bennett Miller', 2),
 ('Chris Miller', 2),
 ('Michel Gondry', 2),
 ('David Bowers', 2),
 ('Craig Brewer', 2),
 ('Henry Joost', 2),
 ('Ariel Schulman', 2),
 ('John Whitesell', 2),
 ('Salim Akil', 2),
 ('George Lucas', 2),
 ('Wayne Wang', 2),
 ('Spike Jonze', 2),
 ('Carl Franklin', 2),
 ('Denzel Washington', 2),
 ('Tony Gilroy', 2),
 ('David O. Russell', 2),
 ('Gary Ross', 2),
 ('Kirk Jones', 2),
 ('Larry Charles', 2),
 ('Peter Lord', 2),
 ('Mark Steven Johnson', 2),
 ('David Zucker', 2),
 ('Bille Woodruff', 2),
 ('Richard Linklater', 2),
 ('Clark Johnson', 2),
 ('John Woo', 2),
 ('Nigel Cole', 2),
 ('Chris Buck', 2),
 ('Alfonso CuarÃ³n', 2),
 ('Brad Anderson', 2),
 ('Taylor Hackford', 2),
 ('Sofia Coppola', 2),
 ('Mark Dindal', 2),
 ('Nick Park', 2),
 ('Rob Reiner', 2),
 ('Kevin Rodney Sullivan', 2),
 ('James Wong', 2),
 ('Mel Gibson', 2),
 ('Darren Lynn Bousman', 2),
 ('Takashi Shimizu', 2),
 ('Richard Loncraine', 2),
 ('Danny Leiner', 2),
 ('Mike Nichols', 2),
 ('Michael Moore', 2),
 ('Jay Russell', 2),
 ('Richard LaGravenese', 2),
 ('Kevin Lima', 2),
 ('Colin Trevorrow', 1),
 ('Alex Garland', 1),
 ('Sam Taylor-Johnson', 1),
 ('Tom McCarthy', 1),
 ('Lenny Abrahamson', 1),
 ('Peter Sohn', 1),
 ('John Crowley', 1),
 ('Lee Toland Krieger', 1),
 ('Ilya Naishuller', 1),
 ('Jake Schreier', 1),
 ('Ericson Core', 1),
 ('Aleksander Bach', 1),
 ('Ryan Coogler', 1),
 ('Peter Landesman', 1),
 ('John Francis Daley', 1),
 ('Jonathan M. Goldstein', 1),
 ('Joel Edgerton', 1),
 ('Jocelyn Moorhouse', 1),
 ('Ari Sandel', 1),
 ('Ciaran Foy', 1),
 ('Doug Ellin', 1),
 ('Jeremy Garelick', 1),
 ('Michael Dougherty', 1),
 ('Dean Israelite', 1),
 ('Gregory Jacobs', 1),
 ('Gregory Plotkin', 1),
 ('Billy Ray', 1),
 ('Paul Tibbitt', 1),
 ('Leigh Whannell', 1),
 ('Nicholas Hytner', 1),
 ('David M. Rosenthal', 1),
 ('Etan Cohen', 1),
 ('Sarah Gavron', 1),
 ('Max Joseph', 1),
 ('Chad Stahelski', 1),
 ('David Leitch', 1),
 ('Don Hall', 1),
 ('Morten Tyldum', 1),
 ('Dan Gilroy', 1),
 ('Gareth Edwards', 1),
 ('Robert Stromberg', 1),
 ('Roger Donaldson', 1),
 ('Stiles White', 1),
 ('Patrick Hughes', 1),
 ('Sergey Bodrov', 1),
 ('James Marsh', 1),
 ('Gary Shore', 1),
 ('Scott Frank', 1),
 ('Paul King', 1),
 ('James DeMonaco', 1),
 ('Vic Armstrong', 1),
 ('R.J. Cutler', 1),
 ('Trish Sie', 1),
 ('Josh Boone', 1),
 ('JosÃ© Padilha', 1),
 ('Wally Pfister', 1),
 ('Angelina Jolie', 1),
 ('Ava DuVernay', 1),
 ('Michael Hoffman', 1),
 ('Theodore Melfi', 1),
 ('Graham Annable', 1),
 ('Brian A Miller', 1),
 ('Roberts Gannaway', 1),
 ('Sam Miller', 1),
 ('John R. Leonetti', 1),
 ('Stuart Beattie', 1),
 ('Tom Gormican', 1),
 ('Ben Falcone', 1),
 ('Christopher Spencer', 1),
 ('GrÃ©gory Levasseur', 1),
 ('Andrew Erwin', 1),
 ('Jon Erwin', 1),
 ('Dave Green', 1),
 ('Harold Cronk', 1),
 ('Matt Bettinelli-Olpin', 1),
 ('Tyler Gillett', 1),
 ('Patrick Tatopoulos', 1),
 ('Bob Peterson', 1),
 ('Shane Acker', 1),
 ('Ron Clements', 1),
 ('John Musker', 1),
 ('Henry Selick', 1),
 ('Richard Kelly', 1),
 ('Hoyt Yeatman', 1),
 ('Ricky Gervais', 1),
 ('Matthew Robinson', 1),
 ('Peter Billingsley', 1),
 ('Karyn Kusama', 1),
 ('Phil Traill', 1),
 ('Christian Alvart', 1),
 ('Michael Spierig', 1),
 ('Peter Spierig', 1),
 ('Brandon Camp', 1),
 ('Rajkumar Hirani', 1),
 ('Grant Heslov', 1),
 ('Jorge Blanco', 1),
 ('Javier Abad', 1),
 ('Marcos MartÃ\xadnez', 1),
 ('Troy Duffy', 1),
 ('John Schultz', 1),
 ('Olatunde Osunsanmi', 1),
 ('Mike Judge', 1),
 ('Daniel Barber', 1),
 ('Steve Shill', 1),
 ('Jonas Elmer', 1),
 ('Stewart Hendler', 1),
 ('Toby Wilkins', 1),
 ('Nathan Greno', 1),
 ('Florian Henckel von Donnersmarck', 1),
 ('Ethan Maniquis', 1),
 ('Ryan Murphy', 1),
 ('Anand Tucker', 1),
 ('Alan Poul', 1),
 ('Josh Gordon', 1),
 ('Will Speck', 1),
 ('Troy Nixey', 1),
 ('Samuel Bayer', 1),
 ('Susanna White', 1),
 ('Steve Antin', 1),
 ('Nanette Burstein', 1),
 ('Greg Berlanti', 1),
 ('Colin Strause', 1),
 ('Greg Strause', 1),
 ('Jim Field Smith', 1),
 ('Anthony Bell', 1),
 ('Ben Gluck', 1),
 ('David Lynch', 1),
 ('Sharon Maguire', 1),
 ('Gary Trousdale', 1),
 ('Kirk Wise', 1),
 ('J.B. Rogers', 1),
 ('Ted Demme', 1),
 ('Jean-Jacques Annaud', 1),
 ('Joel Gallen', 1),
 ('Alejandro AmenÃ¡bar', 1),
 ('Lawrence Guterman', 1),
 ('Chris Nahon', 1),
 ('Jerry Zucker', 1),
 ('Robert Altman', 1),
 ('James Isaac', 1),
 ('John Dahl', 1),
 ('Simon Wincer', 1),
 ('Bill Paxton', 1),
 ('Dennie Gordon', 1),
 ('John Boorman', 1),
 ("Pat O'Connor", 1),
 ('Gregory Poirier', 1),
 ('Rob Pritts', 1),
 ('Francine McDougall', 1),
 ('DJ Pooh', 1),
 ('Pierre Morel', 1),
 ('John Stevenson', 1),
 ('Loveleen Tandan', 1),
 ('Tom Vaughan', 1),
 ('Mark Herman', 1),
 ('Jeff Wadlow', 1),
 ('Pete Travis', 1),
 ('David Wain', 1),
 ('Peter Sollett', 1),
 ('Fred Wolf', 1),
 ('David Hackl', 1),
 ('Jon Avnet', 1),
 ('Bryan Bertino', 1),
 ('Chris Carter', 1),
 ('John Patrick Shanley', 1),
 ('Paul Weiland', 1),
 ('David Moreau', 1),
 ('Xavier Palud', 1),
 ('Michael McCullers', 1),
 ('Howard Deutch', 1),
 ('Jennifer Flackett', 1),
 ('Mark Levin', 1),
 ('Anthony Leondis', 1),
 ('Nicolas Winding Refn', 1),
 ('Jennifer Yuh', 1),
 ('Brad Lewis', 1),
 ('Terrence Malick', 1),
 ('Michel Hazanavicius', 1),
 ('George Nolfi', 1),
 ('Tom Hanks', 1),
 ('Mark Mylod', 1),
 ('Chris Gorak', 1),
 ('Tate Taylor', 1),
 ('Christian E. Christiansen', 1),
 ('Oliver Parker', 1),
 ('Daniel Barnz', 1),
 ('Todd Strauss-Schulson', 1),
 ('Gonzalo LÃ³pez-Gallego', 1),
 ('John Michael McDonagh', 1),
 ('Jesse Peretz', 1),
 ('Jason Winer', 1),
 ('Alister Grierson', 1),
 ('Douglas McGrath', 1),
 ('Sean McNamara', 1),
 ('Joe Nussbaum', 1),
 ('Benny Chan', 1),
 ('Corey Yuen Kwai', 1),
 ('Curtis Hanson', 1),
 ('Joel Zwick', 1),
 ('Stuart Baird', 1),
 ('Steve Beck', 1),
 ('Lorna Cook', 1),
 ('Chuck Russell', 1),
 ('Julie Taymor', 1),
 ('Barbet Schroeder', 1),
 ('Simon Wells', 1),
 ('Adrian Lyne', 1),
 ('Michael Rymer', 1),
 ('Marcus Raboy', 1),
 ('Robin Budd', 1),
 ('Donovan Cook', 1),
 ('Mark Romanek', 1),
 ('Mark Pellington', 1),
 ('Jonathan Frakes', 1),
 ('Rick Rosenthal', 1),
 ('Tamra Davis', 1),
 ('Charles Stone III', 1),
 ('Kevin Bray', 1),
 ('MÃ¥ns MÃ¥rlind', 1),
 ('BjÃ¶rn Stein', 1),
 ('Mark Andrews', 1),
 ('Steve Purcell', 1),
 ('Brenda Chapman', 1),
 ('Rupert Sanders', 1),
 ('Mike Thurmeier', 1),
 ('Juan Antonio Bayona', 1),
 ('Rich Moore', 1),
 ('Stephen Chbosky', 1),
 ('Drew Goddard', 1),
 ('Peter Ramsey', 1),
 ('Michael Sucsy', 1),
 ('Rian Johnson', 1),
 ('Scott Speer', 1),
 ('Mike McCoy', 1),
 ('Nima Nourizadeh', 1),
 ('John Hillcoat', 1),
 ('Jeff Newitt', 1),
 ('Stephen St. Leger', 1),
 ('James Mather', 1),
 ('James Watkins', 1),
 ('Daniel Espinosa', 1),
 ('Asger Leth', 1),
 ('John Gulager', 1),
 ('Ole Bornedal', 1),
 ('Michael J. Bassett', 1),
 ('Andrew Dominik', 1),
 ('Nicholas Jarecki', 1),
 ('Dustin Hoffman', 1),
 ('Sam Fell', 1),
 ('Chris Butler', 1),
 ('Brian Klugman', 1),
 ('Lee Sternthal', 1),
 ('Dan Cutforth', 1),
 ('Jane Lipsitz', 1),
 ('Tom Shadyac', 1),
 ('Richard Curtis', 1),
 ('Stephen Norrington', 1),
 ('Steve Trenbirth', 1),
 ('Terry Zwigoff', 1),
 ('Peter Howitt', 1),
 ('Jan de Bont', 1),
 ('Rob Schmidt', 1),
 ('Peter Weir', 1),
 ('Jon Amiel', 1),
 ('Charles Herman-Wurmfeld', 1),
 ('Anthony Minghella', 1),
 ('Ronny Yu', 1),
 ('Kevin Costner', 1),
 ('Jim Fall', 1),
 ('Lawrence Kasdan', 1),
 ('Patty Jenkins', 1),
 ('Troy Miller', 1),
 ('Uwe Boll', 1),
 ('Mike Tollin', 1),
 ('FranÃ§ois Ozon', 1),
 ('Christopher Guest', 1),
 ('Christine Jeffs', 1),
 ('Jennifer Lee', 1),
 ('Shane Black', 1),
 ('Steve McQueen', 1),
 ('Dan Scanlon', 1),
 ('Tommy Wirkola', 1),
 ('Jean-Marc VallÃ©e', 1),
 ('Klay Hall', 1),
 ('Harmony Korine', 1),
 ('Fede Alvarez', 1),
 ('Derek Cianfrance', 1),
 ('Kimberly Peirce', 1),
 ('John Carney', 1),
 ('Ken Scott', 1),
 ('Seth Rogen', 1),
 ('Evan Goldberg', 1),
 ('Mike Flanagan', 1),
 ('David Soren', 1),
 ('Andy Muschietti', 1),
 ('Rusty Cundieff', 1),
 ('James Duffy', 1),
 ('Griffin Dunne', 1),
 ('Patrik Forsberg', 1),
 ('Will Graham', 1),
 ('Jonathan van Tulleken', 1),
 ('Scott Moore', 1),
 ('Jon Lucas', 1),
 ('Callan Brunker', 1),
 ('Amma Asante', 1),
 ('Cody Cameron', 1),
 ('Kris Pearn', 1),
 ('Giuseppe Tornatore', 1),
 ('Jeff Nichols', 1),
 ('Jonathan Teplitzky', 1),
 ('Neil Nightingale', 1),
 ('Barry Cook', 1),
 ('Ric Roman Waugh', 1),
 ('David E. Talbert', 1),
 ('Christopher B. Landon', 1),
 ('Joshua Michael Stern', 1),
 ('Anthony Silverston', 1),
 ('Ed Gass-Donnelly', 1),
 ('Oliver Hirschbiegel', 1),
 ('Fyodor Bondarchuk', 1),
 ('Frank Miller', 1),
 ('Garth Jennings', 1),
 ('Rob Bowman', 1),
 ('Mike Johnson', 1),
 ('Steve Box', 1),
 ('Angela Robinson', 1),
 ('Cory Edwards', 1),
 ('Todd Edwards', 1),
 ('Tony Leech', 1),
 ('John Polson', 1),
 ('Sydney Pollack', 1),
 ('Terry Gilliam', 1),
 ('Florent-Emilio Siri', 1),
 ('Jay Chandrasekhar', 1),
 ('Stephen Gaghan', 1),
 ('Frederik Du Chau', 1),
 ('Andrew Douglas', 1),
 ('Dean Parisot', 1),
 ('Jean-FranÃ§ois Richet', 1),
 ('Jim Jarmusch', 1),
 ('George A. Romero', 1),
 ('Rupert Wainwright', 1),
 ('Clare Kilner', 1),
 ('Richard Shepard', 1),
 ('Fernando Meirelles', 1),
 ('Geoffrey Sax', 1),
 ('Stephen Kay', 1),
 ('Joe Ranft', 1),
 ('Spike Lee', 1),
 ('Karey Kirkpatrick', 1),
 ('Frank Marshall', 1),
 ('Christophe Gans', 1),
 ('Stefen Fangmeier', 1),
 ('Alejandro Agresti', 1),
 ("Matthew O'Callaghan", 1),
 ('Jared Hess', 1),
 ('Jonathan Dayton', 1),
 ('Valerie Faris', 1),
 ('Greg Coolidge', 1),
 ('Roger Allers', 1),
 ('Jill Culton', 1),
 ('Steve Oedekerk', 1),
 ('Chris Noonan', 1),
 ('John Bonito', 1),
 ('Liz Friedlander', 1),
 ('Elizabeth Allen Rosenbaum', 1),
 ('Richard Donner', 1),
 ('Richard Eyre', 1),
 ('Barry Levinson', 1),
 ('Renny Harlin', 1),
 ('Sanjay Gadhvi', 1),
 ('Glen Morgan', 1),
 ('Phil Joanou', 1),
 ('Mira Nair', 1),
 ('Rachid Bouchareb', 1),
 ('William Brent Bell', 1),
 ('Doug Atchison', 1),
 ('Eric Bress', 1),
 ('J. Mackye Gruber', 1),
 ('Alexander Witt', 1),
 ('Brad Silberling', 1),
 ('Peter Hewitt', 1),
 ('Bibo Bergeron', 1),
 ('Stephen Hillenburg', 1),
 ('Mark Rosman', 1),
 ('Rawson Marshall Thurber', 1),
 ('Jonathan Hensleigh', 1),
 ('David Koepp', 1),
 ('Don Mancini', 1),
 ('Terry George', 1),
 ('Trey Parker', 1),
 ('Sara Sugarman', 1),
 ('Guy Ferland', 1),
 ('Joseph Ruben', 1),
 ('Nick Hamm', 1),
 ('Joseph Kahn', 1),
 ("Gavin O'Connor", 1),
 ('Kevin Allen', 1),
 ('Christopher Erskin', 1),
 ('Jan Pinkava', 1),
 ('Frank Darabont', 1),
 ('Sean Penn', 1),
 ('GÃ¡bor CsupÃ³', 1),
 ('Paul Thomas Anderson', 1),
 ('Raman Hui', 1),
 ('Steve Hickner', 1),
 ('Stephen J. Anderson', 1),
 ('Kevin Munroe', 1),
 ('Juan Carlos Fresnadillo', 1),
 ('Steve Bendelack', 1),
 ('Bruce A. Evans', 1),
 ('Robert Redford', 1),
 ('Kirsten Sheridan', 1),
 ('Philip G. Atwell', 1),
 ('Mennan Yapo', 1),
 ('Scott Hicks', 1),
 ('Ash Brannon', 1),
 ('Xavier Gens', 1),
 ('David Schwimmer', 1),
 ('Eli Roth', 1),
 ('Dave Meyers', 1),
 ('Julian Jarrold', 1),
 ('Shekhar Kapur', 1),
 ('Sidney Lumet', 1),
 ('Fred Savage', 1),
 ('Russell Mulcahy', 1),
 ('Michael Winterbottom', 1),
 ('Stephen Hopkins', 1),
 ('James Foley', 1),
 ('Mark Helfrich', 1),
 ('Jon Kasdan', 1),
 ('Shari Springer Berman', 1),
 ('Robert Pulcini', 1),
 ('James Gray', 1),
 ('Peter Hedges', 1),
 ('Alastair Fothergill', 1),
 ('Mark Linfield', 1),
 ('Wong Kar-wai', 1),
 ('Sylvain White', 1),
 ('Chris Rock', 1),
 ('Peter Webber', 1),
 ('Feng Xiaogang', 1),
 ('Ben Garant', 1),
 ('Ralph Zondag', 1),
 ('Eric Leighton', 1),
 ('David McNally', 1),
 ('Ben Younger', 1),
 ('Gregory Hoblit', 1),
 ('Mimi Leder', 1),
 ('Paul Verhoeven', 1),
 ('Mary Harron', 1),
 ('Lars von Trier', 1),
 ('Roger Spottiswoode', 1),
 ('Jonathan Lynn', 1),
 ('William Friedkin', 1),
 ('Robert Iscove', 1),
 ('Edward Norton', 1),
 ('Bonnie Hunt', 1)]

In [36]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [38]:
max_profit = data.groupby('director').sum()
max_profit.query('profit == profit.max()')

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit
director,,,,,,,,
Peter Jackson,45.679675,1288000000,6490593685,1355,31197,58.1,16059,5202593685

In [39]:

answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [40]:
d = Counter()

for _, row in data.iterrows():
    for c in row.cast.split('|'):
        d[c] += row.profit
        
d.most_common()[0]

('Emma Watson', 6666245597)

In [41]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [42]:
d = Counter()

for _, row in data.query('release_year == 2012').iterrows():
    for c in row.cast.split('|'):
        d[c] += row.profit
        
d.most_common()[-1]

('Kirsten Dunst', -68109207)

In [43]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [44]:
c = Counter()

for i in data[data.budget > data.budget.mean()].cast:
    for a in i.split('|'):
        c[a] += 1
    
c.most_common()[0]

('Matt Damon', 18)

In [45]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [46]:
c = Counter()

for _, row in data[data.cast.str.contains('Nicolas Cage')].iterrows():
    for g in row.genres.split('|'):
        c[g] += 1
    
c.most_common()[0]

('Action', 17)

In [47]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [48]:
c = Counter()

for studios in data.production_companies:
    for s in studios.split('|'):
        c[s] += 1
    
c.most_common()[0]

('Universal Pictures', 173)

In [49]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [50]:
c = Counter()

for studios in data[data.release_year == 2015].production_companies:
    for s in studios.split('|'):
        c[s] += 1
    
c.most_common()[0]

('Warner Bros.', 12)

In [51]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [53]:
c = Counter()

for _, row in data[data.genres.str.contains('Comedy')].iterrows():
    for s in row.production_companies.split('|'):
        c[s] += row.profit
    
c.most_common()[0]

('Universal Pictures', 8961545581)

In [54]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [55]:
c = Counter()

for _, row in data[data.release_year == 2012].iterrows():
    for s in row.production_companies.split('|'):
        c[s] += row.profit
    
c.most_common()[0]

('Columbia Pictures', 2501406608)

In [56]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [57]:
data_pp = data[data.production_companies.str.contains('Paramount Pictures')]
data_pp[data_pp.profit == data_pp.profit.min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034

In [58]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [59]:
data.pivot_table(
    values='profit',
    index='release_year',
    aggfunc='sum'
).query('profit == profit.max()')

                   profit
release_year
2015          18668572378

In [60]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [61]:
data[data.production_companies.str.contains("Warner Bros")]\
    .pivot_table(
        values='profit',
        index='release_year',
        aggfunc='sum'
    ).query('profit == profit.max()')

                  profit
release_year
2014          2295464519

In [62]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [67]:
data['month'] = data.release_date.apply(lambda s: int(s.split('/')[0]))
data.month.value_counts(sort=True)

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [65]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [68]:
data.query('month in [6, 7, 8]').count()[0]

450

In [69]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [71]:
c = Counter()

for directors in data.query('month in [1, 2, 12]').director:
    for d in directors.split('|'):
        c[d] += 1
    
c.most_common()[0]

('Peter Jackson', 7)

In [72]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [73]:
pr_month = data.pivot_table(
    values='profit',
    index='month',
    columns='release_year',
    aggfunc='sum'
)

c = Counter()

for year in pr_month.columns:
    c[pr_month.index[pr_month[year] == pr_month[year].max()].values[0]] += 1
    
c.most_common()[0]

(6, 7)

In [74]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [76]:
data['length_of_title'] = data.original_title.apply(lambda s: len(s))

data.pivot_table(
    values='length_of_title',
    index='production_companies',
    aggfunc='mean'
).query('length_of_title == length_of_title.max()')

                                                    length_of_title
production_companies
Twentieth Century Fox Film Corporation|Four By ...             83.0

In [77]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [78]:
data['words_in_title'] = data.original_title.apply(lambda s: len(s.split(' ')))
data.pivot_table(
    values='words_in_title',
    index='production_companies',
    aggfunc='mean'
).query('words_in_title == words_in_title.max()')

                                                    words_in_title
production_companies
Twentieth Century Fox Film Corporation|Four By ...            12.0

In [79]:
answer_ls.append(5)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [80]:
c = Counter()

for title in data.original_title:
    for word in title.split(' '):
        c[word.lower()] += 1
        
len(c)

2462

In [81]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin
5. Upside Down, 300, Inside Out, The Lord of the Rings: The Return of the King

In [82]:
ser = data.sort_values('vote_average', ascending=False)[:int(len(data)*.1)].original_title
variants = [
    'Inside Out', 'Gone Girl', '12 Years a Slave',
    'BloodRayne', 'The Adventures of Rocky and Bullwinkle',
    'The Lord of the Rings: The Return of the King', 'Upside Down',
    '300', 'Lucky Number Slevin',
    'Upside Down', '300','Inside Out', 'The Lord of the Rings: The Return of the King'
]
[v for v in variants if len(ser[ser == v])]

['Inside Out',
 'Gone Girl',
 '12 Years a Slave',
 'The Lord of the Rings: The Return of the King',
 'Lucky Number Slevin',
 'Inside Out',
 'The Lord of the Rings: The Return of the King']

In [83]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [84]:
pairs = [
    ('Johnny Depp', 'Helena Bonham Carter'),
    ('Hugh Jackman', 'Ian McKellen'),
    ('Vin Diesel', 'Paul Walker'),
    ('Adam Sandler', 'Kevin James'),
    ('Daniel Radcliffe', 'Rupert Grint')
]

for p in pairs:
    times = len(data[(data.cast.str.contains(p[0])) & (data.cast.str.contains(p[1]))])
    print(p, times)

('Johnny Depp', 'Helena Bonham Carter') 6
('Hugh Jackman', 'Ian McKellen') 5
('Vin Diesel', 'Paul Walker') 5
('Adam Sandler', 'Kevin James') 5
('Daniel Radcliffe', 'Rupert Grint') 8

In [85]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [86]:
dirs = [
    'Quentin Tarantino',
    'Steven Soderbergh',
    'Robert Rodriguez',
    'Christopher Nolan',
    'Clint Eastwood',    
]
all_films = data.query('director in @dirs').groupby('director').count()
succ_films = data.query('director in @dirs & profit > 0').groupby('director').count()
all_films['percent_success'] = (succ_films['profit'] / all_films['profit']) * 100
all_films.percent_success

director
Christopher Nolan    100.000000
Clint Eastwood        83.333333
Quentin Tarantino    100.000000
Robert Rodriguez      85.714286
Steven Soderbergh     76.923077
Name: percent_success, dtype: float64

In [87]:
answer_ls.append(4)

# Submission

In [88]:
len(answer_ls)

36

In [89]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       5
31  32       5
32  33       3
33  34       1
34  35       5
35  36       4